.main{
    background-color: #efefef;
    display: flex;
    flex-direction: row;
    justify-content:center;
    /* border-top: 1px solid #4a4a4a; */
    height: auto;
    width: 100vw;
}
/* 사용자 프로필사진,아이디,정보수정버튼,로그아웃버튼*/
.user_info{
    display: block;
    justify-content: space-between;
    margin: 1rem 1rem 1rem 1rem;
    align-items: flex-end;
    width: 880px;
    height: auto;
}
.box{
    /* text-align: center; */
    padding-right: 9rem;
    padding-left: 9rem;
}
.user_img {
    display: inline-block;
}
.user_img img{
    border-radius: 50%;
    height: 130px;
    width: 130px;
    border: 1px solid #efefef;
    margin: 10px;
    margin-top: 30px;
}
.info{
    display: inline-block;
    justify-content: space-between;
}
.user_id{
    display: inline-block;
    margin-left: 20px;
}
.user_id p{
    font-size: x-large;
    /* font-weight: bolder; */
}
.modify{
    display: inline-block;
    margin-left: 50px;
}
.number{
    text-align: center;
}
.post_number{
    display: inline-block;
    margin-left: 50px;
}
.post_number p{
    font-weight: bolder;
}
.follower_number{
    display: inline-block;
    margin-left: 50px;
}
.follower_number p{
    font-weight: bolder;
}
.follow_number{
    display: inline-block;
    margin-left: 50px;
}
.follow_number p{
    font-weight: bolder;
}
.profile_msg{
    display: block;
    text-align: center;
}
.profile_msg{
    font-weight: bolder;
}
.button{
    display: block;
    text-align: end;
}
#follow_btn{
    margin-left: 50px;
}
/* 포스트 리스트 모아보기 부분 */
.postBox{
    display: inline-block;
    }
.innerImg{
    width: 250px;
    height: 250px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#modify_btn{
    margin-right: 10px;
}