{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <!-- Fontawesome 적용 -->
  <script src="https://kit.fontawesome.com/0b02921f0e.js" crossorigin="anonymous"></script>
{% endblock head %}

{% block title %}
메인페이지 | Pystagram
{% endblock title %}

{% block _nav %}
  {% include '_nav.html' %}
{% endblock _nav %}

{% block body %}

{% if messages %}
    <div >
        {% for message in messages %}
            {{ message.tags }}! {{ message.message }}
        {% endfor %}
    </div>
{% endif %}

<!--user_id section 보이게끔 임시 생성-->
<div class="main">
    <div class="main_left">
        <section class="card_section">
            <div class="card">
            </div>
        </section>
    </div>
    <div class="main_right">
        <div id="fixed_nav">
            <div class="card" id="card_right">
                <header>
                    <img src="{% static 'images/test.jpg' %}" alt="test">
                    <div class="user_name">
                        <a href="{% url 'pystagram:pn_post_list' user_id %}">{{user_id}}</a>
                    </div>
                </header>
            </div>
        </div>
    </div>
</div>

{% for post in posts %}
<div class="main">
    <div class="main_left">
        <section class="card_section">
            <div class="card">
                <header>
                    <img src="{% static 'images/test.jpg' %}" alt="test">
                    <div class="user_name">{{post.user_id}}</div>
                </header>
                <div class="card_image">
                    <img src="{% static 'images/test.jpg' %}" alt="test">
                    <p>{{post.content}}</p>
                </div>
                <div class="info">
                    <div class="info_left">
                        <i class="far fa-heart"></i>
                        <i class="far fa-comment"></i>
                        <i class="fas fa-upload"></i>
                    </div>
                    <div class="info_right">
                        <i class="far fa-bookmark"></i>
                    </div>
                </div>
                <div class="comment">
                    comment1<br>
                    comment2<br>
                </div>
                <div class="comment_form">
                    <form action="">
                        <input type="text" placeholder="댓글 입력..">
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
{% endfor %}
{% endblock body %}