{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <!-- Fontawesome 적용 -->
  <script src="https://kit.fontawesome.com/0b02921f0e.js" crossorigin="anonymous"></script>
{% endblock head %}

{% block title %}
메인페이지 | Pystagram
{% endblock title %}

{% block _nav %}
    {% include '_nav.html' %}
{% endblock _nav %}

{% block body %}

{% if messages %}
    <div >
        {% for message in messages %}
            {{ message.tags }}! {{ message.message }}
        {% endfor %}
    </div>
{% endif %}


<div class="main">
    <div class="main_left">
        {% for post in posts %}
        <section class="card_section">
            <div class="card">
                <header>
                    {% if post.postUser.profile_img_src == '' %}
                    <img src="{% static 'images/login.png' %}" alt="test">
                    {% else %}
                    <img src="{{ post.postUser.profile_img_src }}" alt="test">
                    {% endif %}
                    <div class="user_id"><a href="{% url 'pystagram:pn_post_list' post.user_id %}">{{ post.user_id }}</a></div>
                </header>
                <div class="card_image">
                    <img src="{{ post.post_img_url }}" alt="test">
                    <p>{{ post.content }}</p>
                </div>
                <div class="info">
                    <div class="info_left">
                        {% if post.like == 0 %}
                        <i class="fa-heart far" data-post-id="{{post.post_id}}"></i>
                        {% else %}
                        <i class="fa-heart fas" data-post-id="{{post.post_id}}"></i>
                        {% endif %}
                        <i class="far fa-comment"></i>
                    </div>
                    <div class="info_right">
                        {% if post.bookmark == 0 %}
                        <i class="fa-bookmark far" data-post-id="{{post.post_id}}"></i>
                        {% else %}
                        <i class="fa-bookmark fas" data-post-id="{{post.post_id}}"></i>
                        {% endif %}
                    </div>
                </div>
                <div class="like_time">
                    <span class="like_number">
                        좋아요 <p>{{post.likeCount}}</p>개
                    </span>
                    <span class="upload_time">
                        <p>{{ post.time }}</p>
                    </span>
                </div>
                <div class="comment">
                    comment1<br>
                    comment2<br>
                </div>
                <div class="comment_form">
                    <form action="">
                        <input type="text" placeholder="댓글 입력..">
                    </form>
                </div>
            </div>
        </section>
        {% endfor %}
    </div>


    <div class="main_right">
        <div id="fixed_nav">
            <div class="card" id="card_right">
                <div>
                    <span class="user_img">
                        {% if user.profile_img_src == '' %}
                        <img src="{% static 'images/login.png' %}" alt="Image">
                        {% else %}
                        <img src="{{ user.profile_img_src }}" alt="Image">
                        {% endif %}
                    </span>
                    <span class="user_name">
                        <a href="{% url 'pystagram:pn_post_list' user.username %}">{{ user.username }}</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".fa-heart").click(function(){
            likeBtn = $(this)
            postId = $(this).attr("data-post-id");
            likeCount = $(this).parent().parent().next().children().first();
            if ($(this).attr("class") == "fa-heart far") {
                $.ajax({
                    url: "{% url 'pystagram:pn_like_post' 1 %}".replace('1', postId),
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: "json",
                    type: "POST",
                    success: function(response) {
                        likeBtn.toggleClass("far fas");
                        likeCount.html("좋아요 <p>" + response.likeCount + "</p>개");
                    },
                    error: function(xhr) {
                        alert("좋아요를 반영하는 과정에서 에러가 발생했습니다.");
                    }
                });
            } else {
                $.ajax({
                    url: "{% url 'pystagram:pn_unlike_post' 1 %}".replace('1', postId),
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: "json",
                    type: "POST",
                    success: function(response) {
                        likeBtn.toggleClass("far fas");
                        likeCount.html("좋아요 <p>" + response.likeCount + "</p>개");
                    },
                    error: function(xhr) {
                        alert("좋아요 취소를 반영하는 과정에서 에러가 발생했습니다.");
                    }
                });
            }
        });

        $(".fa-bookmark").click(function(){
            bookmarkBtn = $(this)
            postId = $(this).attr("data-post-id");
            if ($(this).attr("class") == "fa-bookmark far") {
                $.ajax({
                    url: "{% url 'pystagram:pn_bookmark' 1 %}".replace('1', postId),
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: "json",
                    type: "POST",
                    success: function(response) {
                        bookmarkBtn.toggleClass("far fas");
                    },
                    error: function(xhr) {
                        alert("컬렉션을 반영하는 과정에서 에러가 발생했습니다.");
                    }
                });
            } else {
                $.ajax({
                    url: "{% url 'pystagram:pn_unbookmark' 1 %}".replace('1', postId),
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: "json",
                    type: "POST",
                    success: function(response) {
                        bookmarkBtn.toggleClass("far fas");
                    },
                    error: function(xhr) {
                        alert("컬렉션 취소를 반영하는 과정에서 에러가 발생했습니다.");
                    }
                });
            }
        });
    });
</script>
{% endblock body %}