{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <!-- Fontawesome 적용 -->
  <script src="https://kit.fontawesome.com/0b02921f0e.js" crossorigin="anonymous"></script>


  <style>
    .postBox{
    display: inline-block;
    }
    .innerImg{
        width: 280px;
        height: 300px;
        padding: 4px;
    }
  </style>
{% endblock head %}

{% block title %}
포스트 리스트 페이지 | Pystagram
{% endblock title %}

{% block _nav %}
  {% include '_nav.html' %}
{% endblock _nav %}

{% block body %}

{% if messages %}
    <div >
        {% for message in messages %}
            {{ message.tags }}! {{ message.message }}
        {% endfor %}
    </div>
{% endif %}

<center>
{% for post in posts %}
    <div class="postBox">
        <div class="postImg">
            <!--<a href="">-->
                <img src="{% static 'images/test.jpg' %}" alt="상품 이미지" class="innerImg">
            <!--</a>-->
        </div>
    </div>
{% endfor %}
</center>
{% endblock body %}