{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_list.css' %}">
    <!-- Fontawesome 적용 -->
    <script src="https://kit.fontawesome.com/0b02921f0e.js" crossorigin="anonymous"></script>
{% endblock head %}

{% block title %}
포스트 리스트 페이지 | Pystagram
{% endblock title %}

{% block _nav %}
    {% include '_nav.html' %}
{% endblock _nav %}

{% block body %}

{% if messages %}
    <div>
        {% for message in messages %}
            {{ message.tags }}! {{ message.message }}
        {% endfor %}
    </div>
{% endif %}

<div class="userInfoBox">
    <div class="user_info">
        <img src="{% static 'images/test.jpg' %}" alt="test" class="user_img">
        <div class="user_id">{{user_id}}</div>
        {% if user is authenticated %}
        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'accounts:pn_logout' %}'">로그아웃</button>
        {% endif %}
    </div>
</div>

<div class="post_list">
    <div class="user_posts">
        {% for post in posts %}
            <div class="postBox">
                <div class="postImg">
                    <a href="{% url 'pystagram:pn_post_detail' post.post_id %}">
                        <img src="{% static 'images/test.jpg' %}" alt="이미지" class="innerImg">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}