{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_list.css' %}">
    <!-- Fontawesome 적용 -->
    <script src="https://kit.fontawesome.com/0b02921f0e.js" crossorigin="anonymous"></script>
{% endblock head %}

{% block title %}
{{ postListUser.username }}님의 페이지 | Pystagram
{% endblock title %}

{% block _nav %}
    {% include '_nav.html' %}
{% endblock _nav %}

{% block body %}

{% if messages %}
    <div>
        {% for message in messages %}
            {{ message.tags }}! {{ message.message }}
        {% endfor %}
    </div>
{% endif %}

<div class="main">
    <div class="user_info">
        <div>
            <div class="box">
                <div class="user_img">
                    {% if postListUser.profile_img_src == '' %}
                    <img src="{% static 'images/login.png' %}" alt="profile_img">
                    {% else %}
                    <img src="{{ postListUser.profile_img_src }}" alt="profile_img">
                    {% endif %}
                </div>
                <div class="info">
                    <span class="user_id">
                        <p>{{ postListUser.username }}</p>
                    </span>
                    <span class="modify">
                    {% if postListUser.username == user.username %}
                        {% if user.is_authenticated %}
                            <!--프로필편집-->
                            <a href="{% url 'accounts:pn_accounts_modify' %}"><i class="fas fa-address-card"></i></a>
                            <!--비밀번호변경-->
                            <a href="{% url 'accounts:pn_password_modify' %}"><i class="fas fa-key"></i></a>
                        {% endif %}
                    {% endif %}
                </span>

                    <div class="number">
                        <span class="post_number">
                        게시글 <p>{{ postCount }}</p>
                        </span>
                        <span class="follower_number">
                        팔로워 <p>{{ followerCount }}</p>
                        </span>
                        <span class="follow_number">
                        팔로잉 <p>{{ followingCount }}</p>
                        </span>
                    </div>
                </div>

                <span class="profile_msg">
                    <p>{{ postListUser.profile_msg }}</p>
                </span>
            </div>
            <div class="button">
                {% if postListUser.username == user.username %}
                    {% if user.is_authenticated %}
                        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'accounts:pn_logout' %}'">로그아웃</button>
                    {% endif %}
                {% else %}
                    {% if follow == 0 %}
                        <button type="button" class="btn btn-primary" id="follow_btn" onclick='location.href="{% url "pystagram:pn_follow" postListUser.username %}"'>팔로우</button>
                    {% elif follow == 1 %}
                        <button type="button" class="btn btn-primary" id="follow_btn" onclick='location.href="{% url "pystagram:pn_unfollow" postListUser.username %}"'>언팔로우</button>
                    {% endif %}
                {% endif %}
            </div>
        </div>

    <hr>

        <div class="user_posts">
            {% for post in posts %}
                <div class="postBox">
                    <div class="postImg">
                        <a href="{% url 'pystagram:pn_post_detail' post.post_id %}">
                            <img src="{{ post.post_img_url }}" alt="Image" class="innerImg">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock body %}