{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Fontawesome 적용 -->
    <script src="https://kit.fontawesome.com/0b02921f0e.js" crossorigin="anonymous"></script>
{% endblock head %}

{% block title %}
포스트 상세페이지 | Pystagram
{% endblock title %}

{% block _nav %}
    {% include '_nav.html' %}
{% endblock _nav %}

{% block body %}

{% if messages %}
    <div>
        {% for message in messages %}
            {{ message.tags }}! {{ message.message }}
        {% endfor %}
    </div>
{% endif %}

<div class="main">
    <div class="main_left">
        <section class="card_section">
            <div class="card">
                <header>
                    <img src="{{ postDetailUser.profile_img_src }}" alt="test">
                    <div class="user_id"><a href="{% url 'pystagram:pn_post_list' postDetailUser.username %}">{{ postDetailUser.username }}</a></div>
                </header>
                <div class="card_image">
                    <img src="{{post.post_img_url}}" alt="Image">
                    <p>{{post.content}}</p>
                </div>
                <div class="info">
                    <div class="info_left">
                        <i class="far fa-heart"></i>
                        <i class="far fa-comment"></i>
                        <i class="fas fa-upload"></i>
                    </div>
                    <div class="info_right">
                        <i class="far fa-bookmark"></i>
                    </div>
                </div>
                <div class="comment">
                    comment1<br>
                    comment2<br>
                </div>
                <div class="comment_form">
                    <form action="">
                        <input type="text" placeholder="댓글 입력..">
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock body %}